<div style="text-align: center;">
  <form [formGroup]="userDetails">
    <mat-form-field appearance="fill">
      <mat-label>username</mat-label>
      <input formControlName="username" matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>password</mat-label>
      <input formControlName="password" matInput>
    </mat-form-field>
    <br>
    <button style="margin-right: 20px;"  [disabled]="!userDetails.valid" (click)="onLogin()" mat-raised-button>Login</button>
    <button [disabled]="!userDetails.valid" (click)="onRegister()" mat-raised-button>Register</button>
    <ul style="list-style-type:none;">
      <li *ngFor="let error of errors">{{error}}</li>
    </ul>
  </form>

</div>
